*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    float:left;
}
.aside{
    background-color: #222d32;
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed ;
    top:0;
    left: 0;
}
.aside_menu{
    width: 100%;
    height: auto;
}
.aside_menu_list{
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.aside_menu_list_item{
    width: 100%;
    height: auto;
    list-style: none;
    margin-bottom: 20px;
    cursor: pointer;
}
.aside_menu_list_item>.aside_menu_list_item_arrow{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.aside_menu_list_item_link{
    width: 100%;
    height: auto;
    display: block;
    padding: 10px 0 0px 10px;
    opacity: 50%;
}
.aside_menu_list_item_link:hover{
    opacity: 100%;
}
.aside_menu_list_item_link,.aside_menu_list_item_hidden_item_link{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
.aside_menu_list_item_hidden{
    line-height:40px;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    /* margin-top: 10px; */
    transition: max-height 0.5s ease-in-out;
}
.aside_menu_list_item_hidden_item_link:nth-child(1){
    margin-top: 5px;
}
.aside_menu_list_item:focus .aside_menu_list_item_hidden,.aside_menu_list_item_arrow{
    display: block;
    max-height: 200px;
}
.aside_menu_list_item_hidden_item{
    margin-left: 10px;
}
.aside_menu_list_item_hidden_item,
.aside_menu_list_item_hidden_item_link{
    width: 100%;
    height: auto;
    font-size: 15px;
    display: block;
    opacity: 50%;
}
.aside_menu_list_item_hidden_item_link:hover{
    opacity: 100%;
}
.logout{
    color: #fff;
    background-color: #222d32;
    position: absolute;
    width: auto;
    height: auto;
    left: 0;
    bottom: 0;
    padding: 10px 20px;
}
.content{
    padding: 15px 0 0 220px;
    color: #000;
    width: 100%;
    height: auto;
    /* margin-left: 200px; */
}
.spadm{
    padding: 10px 20px;
    border-radius:20px ;
    background-color: #00D153;
    color: #fff;
    border: #00D153;
    font-weight: bold;
}
.listok{
    padding: 10px 0px;
}
.listok input[type="text"],
.listok input[type="submit"]{
    border:1px solid #ccc;
    border-radius:5px ;
    padding:6px 10px;
    margin-bottom:5px;
}
.listok select{
    background-color: #C3080A;
    border:1px solid #ccc;
    border-radius:5px ;
    padding:6px 10px;
    margin-bottom:5px;
    color:#fff;
    font-weight: bold;
}
.form_content{
    padding-top: 20px;
}
.form_loai table{
    width:100%;
    border-collapse:collapse;
    background-color:#fff;
    padding:20px;
}
.form_loai table th {
    padding:10px 20px;
    background-color: #a6a6a6;
    padding:20px;
}
.form_loai table td {
    padding:10px 20px;
    border:1px #ccc solid;
    padding:30px;
}