* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.box_center {
    width: 100%;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: auto;
}

.header_bg {
    width: 100%;
    height: auto;
    background-color: #C3080A;
}

.header_around {
    width: 70%;
    height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
}

.header_nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.header_nav_logo {
    width: auto;
    height: auto;
    display: flex;
}

.header_nav_logo_img {
    width: 40px;
    height: 40px;
}

.header_nav_logo_text {
    text-align: center;
    display: flex;
    float: left;
    align-items: center;
    margin-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header_nav_logo_text_1 {
    color: #ff6138;
}

.header_nav_logo_text_2 {
    color: #FCB75E;
    margin-left: 5px;
}


.header_nav_search {
    width: auto;
    height: auto;
}

.header_nav_search_form {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}

.header_nav_search_form_input {
    width: 400px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    padding-left: 10px;
    color: black;
    font-weight: bold;
}

.header_nav_search_form_input::placeholder {
    color: black;
    opacity: 1;
}

.header_nav_search_form_input:focus::placeholder {
    opacity: 0;
}

.header_nav_search_form_submit {
    background-color: #ff6138;
    width: 50px;
    height: 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.header_nav_user {
    width: auto;
    height: auto;
}

.header_nav_user_list {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.header_nav_user_list_link {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

.header_nav_user_list_link:nth-child(3) {
    margin-left: 25px;
}

.header_nav_user_list_link:nth-child(2) {
    margin-left: 25px;
}

.header_nav_user_list_link_logo {
    margin-bottom: 5px;
}

/* CSS CHO PHẦN MENU */
.row {
    display: flex;
    width: 100%;
}

.row2 {
    float: left;
    width: 100%;
}

.mb {
    margin-bottom: 20px;
}

.menu {
    background: black;
    border: 1px solid #000;
    padding: 10px;
    height: 40px;
}

.menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.menu ul li {
    list-style: none;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.menu li a:hover,
.dropdown:hover .dropbtn {
    color: #c20303;
    font-weight: bold;

}

.dropdown:hover {
    display: block;
    margin-top: 1px;
}

/* DONE HEADER/NAVBAR */

/* css cho phần nội dung */
.box_content {
    width: 100%;
    margin: 0 auto;
}

.catalog {
    display: flex;
    gap: 20px;
}

.content {
    width: 70%;
    margin: auto;
}

/* Banner */
.box_banner {
    width: 100%;
    margin-bottom: 20px;
    height: 300px;
}

.banner {
    float: left;
    width: 65%;
    text-align: center;
    position: relative;
}

.banner img {
    width: 100%;
    height: 300px;
    border-radius: 5px;
}

.banner2 {
    float: right;
    width: 34%;
    height: 300px;
    display: flex;
    flex-direction: column;
}

#banner1 {
    width: 100%;
    height: 145px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#banner2 {
    width: 100%;
    height: 145px;
    border-radius: 5px;
}

.pre,
.next {
    cursor: pointer;
    position: absolute;
    top: 42%;
    width: auto;
    padding: 10px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease-in-out;
    border-radius: 0 3px 3px 0;
    border: none;

}

.pre:hover,
.next:hover {
    color: rgba(221, 1, 1, 0.8);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.pre {
    left: 0;
    border-radius: 0 3px 3px 0;
}

/* done banner */
/* danhmuc */
.danhmuc {
    width: 100%;
    margin: 20px auto 0px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.box_danhmuc {
    border: 1px solid #EEEE;
    border-radius: 5px;
    text-align: center;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.box_danhmuc img {
    width: 90%;
    height: 200px;
    border-radius: 10px;
}

.danhmuc_name {
    line-height: 22px;
    font-size: 16px;
    padding: 12px 20px 20px;
    width: 100%;
    background-color: #ff6138;
    color: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.danhmuc_name:hover {
    transition: 0.5s;
    background-color: #FCB75E;
}

/* done danhmuc */
.anhtc {
    width: 100%;
    padding: 20px 0;
}

.anhtc img {
    width: 100%;
    border-radius: 5px;
}

.sale_title {
    display: flex;
    color: #C3080A;
    padding-bottom: 20px;
}

.sale_title h3 {
    padding-left: 8px;
}

.sale_title i {
    font-size: 19px;
}

.items {
    width: 100%;
    margin: 0px auto 0px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.box_items {
    border: 1px solid #EEEE;
    border-radius: 5px;
    text-align: center;
    height: 410px;
    position: relative;
    overflow: hidden;
    
}
.box_items_bg{ 
    margin: 10px;
    background: url("../image/khuyenmai.png") no-repeat;
    background-size: cover;
    background-size: 100% 255px;
    position: relative;
}
.box_items_bg .tg{
    position: absolute;
    top: 165px;
    padding: 5px 15px;
    background-color: #EEAE2E;
    border-radius: 0px 5px 5px 0;
    color: #fff;
    font-size: 15px;
}
.box_items_bg .sale{
    position: absolute;
    top: 205px;
    padding: 5px 15px;
    background-color: #D20E15;
    border-radius: 0px 5px 5px 0;
    color: #fff;
    font-size: 15px;
}
.box_items_img{ 
    height: 260px;
}
.box_items img {
    padding-top: 37px;
    width: 64%;
    height: 250px;
    border-radius: 10px;
}

.box_items a {
    text-decoration: none;
    color: #50555A;
}
.box_items a:hover {
    color:#170acc;
    text-decoration: underline;
}
.items_text{
    width: 100%;
    text-align: left;
}
.items_text .item_name {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
}
.price{
    width: 100%;
    display: flex;
    justify-content:space-between;
}
.price .price-old{
    margin: 18px 10px;
    color: #50555A;
}
.price .price-new {
    width: 130px;
    padding: 7px 15px;
    margin: 10px 10px;
    border-radius: 29px;
    background-color: #D20E15;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}
.box_items:hover .add {
    width: 100%;
    bottom: 0%;
    text-decoration: none;
    color: #fff;
}

.box_items .add {
    position: absolute;
    bottom: -100%;
    left: 0;
    padding: 10px;
    background-color:#cc0a0d;
    border-radius: 6px;
    margin-top: 20px;
    color: #fff;
    font-weight: bold;
}