<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/admin.css">
</head>

<body>
    <aside class="aside">
        <div class="aside_menu">
            <ul class="aside_menu_list">
                <li class="aside_menu_list_item">
                    <a class="aside_menu_list_item_link" href="">Sản phẩm</a>
                    <ul class="aside_menu_list_item_hidden">
                        <li class="aside_menu_list_item_hidden_item">
                            <a class="aside_menu_list_item_hidden_item_link"href="">Quản lý sản phẩm</a></li>                                
                        <li class="aside_menu_list_item_hidden_item">
                            <a class="aside_menu_list_item_hidden_item_link"href="">Sản phẩm bán chaỵ nhất</a></li>                                
                    </ul>
                </li>
                <li class="aside_menu_list_item">
                    <a class="aside_menu_list_item_link" href="">Danh mục</a>
                </li>
                <li class="aside_menu_list_item">
                    <a class="aside_menu_list_item_link" href="">Tài khoản</a>
                </li>
            </ul>
        </div>
        <div>

        </div>
    </aside>
    <main>

    </main>
</body>

</html>