<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
</head>

<body>
    <header>
        <div class="header_1">
            <div class="header_1_logo">
                <img class="header_1_logo_img" src="" alt="">
            </div>
            <div class="header_1_search">
                <form class="header_1_search_form" action="">
                    <input class="header_1_search_form_input" type="text" placeholder="Tìm kiếm">
                    <input class="header_1_search_form_submit" type="submit">
                </form>
            </div>
            <div>

            </div>
        </div>
        <nav class="header_2">
            <ul>
                <li><a href=""></a></li>
            </ul>
        </nav>
    </header>
</body>

</html>